fastapi==0.116.1
uvicorn==0.18.3
python-dotenv
pydantic==2.11.7

# YouTube transcript API
youtube-transcript-api==1.2.1

# LangChain core and community
langchain
langchain-core
langchain-community

# Google Generative AI support
langchain-google-genai==2.1.7
google-generativeai

# FAISS for vector storage
faiss-cpu
